In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [3]:
df.shape

(7049, 23)

In [4]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [5]:
df.isna().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal Y/N          True
Time               True
Species            True
Source             True
pdf                True
href formula       True
href               True
Case Number        True
Case Number.1      True
original order     True
Unnamed: 21        True
Unnamed: 22        True
dtype: bool

In [6]:
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              486
Location           567
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              20
pdf                250
href formula       255
href               253
Case Number        251
Case Number.1      252
original order     250
Unnamed: 21       7048
Unnamed: 22       7047
dtype: int64

In [7]:
# % de de nulos.

df.isna().sum()/df.shape[0]

Date              0.000000
Year              0.000284
Type              0.002554
Country           0.007093
State             0.068946
Location          0.080437
Activity          0.082990
Name              0.031068
Sex               0.082139
Age               0.424741
Injury            0.004965
Fatal Y/N         0.079586
Time              0.500213
Species           0.444176
Source            0.002837
pdf               0.035466
href formula      0.036175
href              0.035892
Case Number       0.035608
Case Number.1     0.035750
original order    0.035466
Unnamed: 21       0.999858
Unnamed: 22       0.999716
dtype: float64

In [34]:
df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,7049.0,6093.0,1957.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,7047.0,NaN,NaN,NaN,1935.710231,271.100925,0.0,1948.0,1986.0,2010.0,2026.0
type,7031,13,Unprovoked,5202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,6999,248,USA,2573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,6563,938,Florida,1192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,6482,4597,"New Smyrna Beach, Volusia County",191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
activity,6464,1608,Surfing,1140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,6830,5774,male,679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,6470,10,M,5653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,4055.0,251.0,16.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
injury,7014,4166,FATAL,863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fatal y/n,6488,12,N,4914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,3523,462,Afternoon,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
species,3918,1728,White shark,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
source,7029,5385,"K. McMurray, TrackingSharks.com",131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6799,6789,1935.06.05.R-SolomonIslands.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6794,6784,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6796,6776,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
case number,6798,6777,2013.10.05,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
case number.1,6797,6775,2021.07.04,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6799.0,NaN,NaN,NaN,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0
unnamed: 21,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unnamed: 22,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns = (df.columns.astype(str).str.strip().str.lower())

In [9]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal y/n', 'time', 'species',
       'source', 'pdf', 'href formula', 'href', 'case number', 'case number.1',
       'original order', 'unnamed: 21', 'unnamed: 22'],
      dtype='object')

In [12]:
df_blanco = df[df['species'].str.lower() == 'great white shark']

In [13]:
df_blanco

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,Great White Shark,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,24-Dec-2021,2021.0,Unprovoked,USA,Los Angeles,Morro Strand San Luis Obispo,Boogie Boarding,Thomas Butterfield,M,31,...,Great White Shark,Ralph Collier GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df[df['species'].isna()]

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
105,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,Jason Carter,M,39,...,NaN,"Surfer, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,25 Dec-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Old Bar,Surfing,Julian McLennan,M,16,...,NaN,"9 News, 12/26/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,08 Dec-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,1770,Snorkeling,Matteo Mariotti,M,20,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,04 Dec-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Sandals Resort,Paddle boarding,Lauren Erickson Van Wart,F,44,...,NaN,"NBC News, 12/4/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7046,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7047,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7048,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [15]:
df_blanco = df[df['species'].str.lower() == 'white shark']

In [16]:
df_blanco

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
106,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,...,White shark,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,02 Nov-2023,2023.0,Unprovoked,NEW ZEALAND,North Island,Cape Pallister,Free diving,male,M,NaN,...,White shark,"NZ Herald, 11/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,13-May-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Elliston,Surfing,Simon Baccanello,M,46,...,White shark,"B. Myatt & S. De Marchi, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,15-Aug-2022,2022.0,Unprovoked,AUSTRALIA,Westerm Australia,Goode Beach,Spearfishing,Luke Pasco,M,17,...,White shark,"S. De March, GSAF",2022.08.15.a-Pasco.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.08.15.a,2022.08.15.a,6795.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6659,01-Sep-1868,1868.0,Unprovoked,ITALY,Adriatic Sea,Trieste,NaN,male,M,NaN,...,White shark,"A. De Maddalena; Radovanovi (1965), Soldo & Ja...",1868.09.01-Trieste.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.09.01,1868.09.01,388.0,NaN,NaN
6745,28-Sept-1853,1853.0,Unprovoked,USA,North Carolina,"Morehead, Carteret County",Commercial Salvage Diving,Alfetto,M,NaN,...,White shark,"C. Creswell, GSAF; Washington Post, 10/7/1883,...",1853.09.28-Alfetto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.09.28,1853.09.28,302.0,NaN,NaN
6749,Sep or Oct-1853,1853.0,Unprovoked,USA,North Carolina,"Morehead, Carteret County",Hard hat diving,Mark Dare,M,NaN,...,White shark,"Fort Wayne Gazette, 1/24/1897",1853.00.00.c-MarkDare.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.00.00.c,1853.00.00.c,298.0,NaN,NaN
6901,1700s,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,seaman,M,NaN,...,White shark,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,147.0,NaN,NaN
7021,A few years before 1938,0.0,Watercraft,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,...,White shark,A. De Maddalena; Anon. (1938),ND-0028-Maciotta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0028,ND.0028,29.0,NaN,NaN

In [17]:
df_tiburon_blanco = df[df['species'].str.lower() == 'great white shark']

In [18]:
df_tiburon_blanco

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,Great White Shark,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,24-Dec-2021,2021.0,Unprovoked,USA,Los Angeles,Morro Strand San Luis Obispo,Boogie Boarding,Thomas Butterfield,M,31,...,Great White Shark,Ralph Collier GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_blancos = df[
    (df['species'].str.lower() == 'white shark') |
    (df['species'].str.lower() == 'great white shark')
].copy()  

df_blancos['species'] = 'tiburón blanco'

In [21]:
df_blancos

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,tiburón blanco,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,tiburón blanco,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2024-11-19 00:00:00,2024.0,Unprovoked,New Zealand,Bay of Waitangi,Chatham Islands,Diving,Jade Kahukore-Dixon,M,24,...,tiburón blanco,Glen Folkhard: Todd Smith: Andy Currie Kevin M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,tiburón blanco,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,...,tiburón blanco,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6659,01-Sep-1868,1868.0,Unprovoked,ITALY,Adriatic Sea,Trieste,NaN,male,M,NaN,...,tiburón blanco,"A. De Maddalena; Radovanovi (1965), Soldo & Ja...",1868.09.01-Trieste.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.09.01,1868.09.01,388.0,NaN,NaN
6745,28-Sept-1853,1853.0,Unprovoked,USA,North Carolina,"Morehead, Carteret County",Commercial Salvage Diving,Alfetto,M,NaN,...,tiburón blanco,"C. Creswell, GSAF; Washington Post, 10/7/1883,...",1853.09.28-Alfetto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.09.28,1853.09.28,302.0,NaN,NaN
6749,Sep or Oct-1853,1853.0,Unprovoked,USA,North Carolina,"Morehead, Carteret County",Hard hat diving,Mark Dare,M,NaN,...,tiburón blanco,"Fort Wayne Gazette, 1/24/1897",1853.00.00.c-MarkDare.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1853.00.00.c,1853.00.00.c,298.0,NaN,NaN
6901,1700s,1700.0,Unprovoked,FRANCE,Côte d'Azur,Antibes,Bathing,seaman,M,NaN,...,tiburón blanco,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,147.0,NaN,NaN
7021,A few years before 1938,0.0,Watercraft,ITALY,Adriatic Sea,NaN,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,...,tiburón blanco,A. De Maddalena; Anon. (1938),ND-0028-Maciotta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0028,ND.0028,29.0,NaN,NaN

In [22]:
especies_unicas = df['species'].dropna().unique()

In [23]:
especies_unicas

array(['Tiger or Bull shark', 'Bronze whaler?', 'unknown 1.2m shark', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      shape=(1728,), dtype=object)

In [35]:
palabras_clave = ['white', 'blanco', 'branco', 'requin', 'great white', 'carcharodon carcharias', 'great white shark', 'white shark']

In [36]:
df_tiburon_blanco = df[df['species'].str.contains('|'.join(palabras_clave), na=False)]

In [37]:
df_tiburon_blanco

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href formula,href,case number,case number.1,original order,unnamed: 21,unnamed: 22
125,Reported 02 Nov-2023,2023.0,Questionable,EGYPT,Southern Red Sea,Fury Shoal,Scuba diving,Gary Virgo,M,66,...,Oceanic whitetip shark,"Daily Mail, 11/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,18 Jul-2023,2023.0,Unprovoked,COLOMBIA,San Andrés Island,Nirvana,Freediving,Cristian Castaño,M,38,...,Oceanic whitetip shark,"La Patria, 7/20/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,04-Nov-2022,2022.0,Unprovoked,USA,California,"Del Mar Beach, San Diego County",Swimming,Lyn Jutronich,F,50,...,Juvenile white shark,"R.Collier, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Snorkeling,Roxana Donisan,F,40s,...,Oceaniic whitetip shark/tiger shark,"M. Michaeilson, GSAF",2022.07.01.b-Donisan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.b,2022.07.01.b,6776.0,NaN,NaN
265,01-Jul-2022,2022.0,Unprovoked,EGYPT,"Hurghada, Red Sea Governorate",Sahl Hasheesh,Swimming,Elisabeth Sauer,F,68,...,"Oceaniic whitetip shark/tiger shark, 2m shark","M. Michaeilson, GSAF",2022.07.01.a-Sauer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.07.01.a,2022.07.01.a,6775.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6046,06-Jul-1916,1916.0,Unprovoked,USA,New Jersey,"Spring Lake, Monmouth County",Swimming,Charles Bruder,M,NaN,...,Thought to involve a 2.6 m [8.5'] white shark,"R. Fernicola, GSAF",1916.07.06-Bruder.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1916.07.06,1916.07.06,1001.0,NaN,NaN
6047,01-Jul-1916,1916.0,Unprovoked,USA,New Jersey,"Beach Haven, Ocean County",Swimming,Charles E. Vansant,M,24,...,Thought to involve a 2.6 m [8.5'] white shark,"R. Fernicola, GSAF",1916.07.01-Vansant.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1916.07.01,1916.07.01,1000.0,NaN,NaN
6065,Ca. 1915,1915.0,Invalid,USA,Florida,"Soldier Key, Miami-Dade County",NaN,Remains of male found in shark,M,NaN,...,"Reported to involve a 3.7 m [12'] shark, possi...","Fishing Gazette 1915, Vol. 32, No. 10, p.296",1915.00.00-HumanRemains.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.00.00,1915.00.00,982.0,NaN,NaN
6170,Reported 08-Jul-1908,1908.0,Unprovoked,CROATIA,Adriatic Sea,Medola,Watercraft,Milena Scambelli,F,NaN,...,"Species unknown, possible white shark","A. De Maddalena; M. Zuffa (pers. Comm.), Anon....",1908.07.08.R-Milena.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.07.08.R,1908.07.08.R,877.0,NaN,NaN
6913,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,...,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,137.0,NaN,NaN

In [31]:
df_longitud_blanco = df[(df['species'] >= 4.5) & (df['species'] <= 6.4)].copy()

df_longitud_blanco['species'] = 'tiburón blanco'

TypeError: '>=' not supported between instances of 'str' and 'float'

In [25]:
palabras_clave

['white', 'blanco', 'branco', 'requin', 'great white']

In [ ]:
df_blanco.isna().sum()